@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent horizontal scrollbar during animations */
body, html {
  overflow-x: hidden;
}
